<div class="container-fluid main">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="with mt-5 text-center">With these Features, Go beyond Digital Gold</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1 order-sm-3 gh text-center">
            <h6>1</h6><br/><br/>
            <h6>2</h6><br/><br/><br>
            <h6>3</h6>
        </div>
        <div class="col-md-2 order-sm-3 gh">
            <h4>Pure Gold</h4>
            <p>delivered safely to home.</p>
            <h4>Instant liquidity</h4>
            <p>Sell anytime and get your money in your account in few minutes.</p>
            <h4>Exchange for beautiful jewellery</h4>
            <p>with GoldLane verified partner stores.</p>
        </div>
        <div class="col-md-3 order-sm-1"></div>
        <div class="col-md-3 text-center order-sm-2">
            <img class="img-fluid coin text-center" src="./assets/images/Group 8151.png" alt="">
        </div>
        <div class="col-md-3 order-sm-4"></div>
    </div>
</div>
<!-- <div class="table-responsive-md">
    <table>
        <tr>
            <th>Pure Gold</th>
            <th>Instant liquidity</th>
            <th>Exchange for beautiful jewellery</th>
        </tr>
        <tr>
            <td>delivered safely to home.</td>
            <td>Sell anytime and get your money in your account in few minutes.</td>
            <td>with GoldLane verified partner stores.</td>
        </tr>
    </table>
</div> -->