<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="digital text-center mt-5">Digital Gold-one simple solution for <br/> your Financial needs</h1>
            <p class="with text-center mt-4">with Digital Gold, win against all the physical Gold Investment complexities</p>
        </div>
        <div class="col-md-3 "></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img class="img-fluid path" src="./assets/images/Path 1743@2x.png" alt="">
            <p class="bought mt-2">I bought pure Gold, but found out <br/> that it wasn't pure</p>
        </div>
        <div class="col-md-4">
            <div class="container d-flex flex-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid hall mt-4" src="./assets/images/Group 8077.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <h4 class="purity mt-4">Purity Guaranteed</h4>
                                <p class="about mt-3">Concerned about the purity while <br/> buying gold online? GoldLane’s gold <br/> and silver are certified by BIS <br/> Hallmark and independent assayers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5 order-sm-3">
            <img class="img-fluid path" src="./assets/images/Path 1743@2x.png" alt="">
            <p class="bought mt-1">I want to invest in Gold, but there is always a risk of theft at my house</p>
        </div>
        <div class="col-md-2 order-sm-1"></div>
        <div class="col-md-2 order-sm-4"></div>
        <div class="col-md-4 mt-5 order-sm-2">
            <div class="container d-flex flex-wrap">
                <div class="card cardClass1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid hall mt-4" src="./assets/images/Group 8098.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <h4 class="purity mt-4">Vault Safety</h4>
                                <p class="about mt-3">Your Gold is vaulted at Brinks vault, and Insured. Not only it stopes there but also is audited independently.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img class="img-fluid path1" src="./assets/images/Path 1743@2x.png" alt="">
            <p class="bought mt-1">I want Gold exposure, but I don't want to buy an expensive jewellery</p>
        </div>
        <div class="col-md-4">
            <div class="container d-flex flex-wrap">
                <div class="card cardClass2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid hall mt-4" src="./assets/images/Group 8097.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <h4 class="purity mt-4">Budget friendly</h4>
                                <p class="about mt-3">Invest within your budget. Start as low as ₹10 and automate SIP's with daily/weekly/monthly plans.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5 order-sm-3">
            <img class="img-fluid path" src="./assets/images/Path 1743@2x.png" alt="">
            <p class="bought mt-1">It takes time and effort to find <br/> a right buyer</p>
        </div>
        <div class="col-md-2 order-sm-1"></div>
        <div class="col-md-2 order-sm-4"></div>
        <div class="col-md-4 mt-5 order-sm-2">
            <div class="container d-flex flex-wrap">
                <div class="card cardClass3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid hall mt-4" src="./assets/images/Group 8095.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <h4 class="purity mt-4">Available 24x7</h4>
                                <p class="about mt-3">Concerned about the purity while buying gold online? GoldLane’s gold and silver are certified by BIS Hallmark and independent assayers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

