<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="choose text-center mt-5">Why choose GoldLane?</h1>
            <p class="now text-center mt-3">Download now and Enjoy all these awesome exclusive features</p>
        </div>
        <div class="col-md-3 "></div>
    </div>
    <div class="row d-flex flex-wrap">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-center">
            <img class="img-fluid mt-4" src="./assets/images/Group 8099.png" alt="">
            <h3 class="price">Price Alert</h3>
            <p class="get">Get instant notification once the gold market price reaches or crosses your set target price. Create unlimited alerts & keep up with changing markets</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="img-fluid mt-4" src="./assets/images/Group 8015.png" alt="">
            <h3 class="price">Smart Switch</h3>
            <p class="easy">Easily switch between the two holdings. If gold prices are going down but silver is moving up, you can switch it to silver. Once the silver rally is over, you can switch it back again to gold.</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="img-fluid mt-3" src="./assets/images/Group 8014.png" alt="">
            <h3 class="price">Real Time Tracking</h3>
            <p class="get">See overview of your Gold along with current worth of your Gold. Keep a track of all your Gold & Silver investment - in real time</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="img-fluid mt-4" src="./assets/images/Group 8013.png" alt="">
            <h3 class="add">Add Nominee</h3>
            <p class="get">See overview of your Gold along with current worth of your Gold. Keep a track of all your Gold & Silver investment - in real time</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>