.choose{
    font-size: 33px;
    font-weight: 700;
    color: #3B325F;
    opacity: 1;
}
.now{
    color: #3B325F;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
}
.price{
    font-size: 25px;
    color: #3B325F;
    font-weight: 700;
    margin-top: -20px;
}
.get{
    font-size: 18px;
    color: #3B325F;
    opacity: 0.7;
}
.easy{
    font-size: 17px;
    color: #3B325F;
    opacity: 0.7;
}
.add{
    font-size: 25px;
    color: #3B325F;
    font-weight: 700;
    margin-top: -8px;
}